<h2>Education works!</h2>

<p>List of school that i attended</p>
<ul>
  <li>Sapang Bato Elementary School - gradute in 2012</li>
  <li>Sapang Bato National High School - Moving up in 2017</li>
  <li>Angeles University Foundation - gradute in 2019</li>
  <li>Holy Angel University - Under Gradute 2023</li>
</ul>

<p>
  When I was in grade 11, I was first introduced to the world of website
  development. I was fascinated by the ability to create my own website and
  share my ideas with the world. I started my journey by learning the basics of
  HTML and CSS. HTML, or Hypertext Markup Language, is the code that is used to
  structure and organize the content of a website. I learned how to create
  headings, paragraphs, lists, and links using HTML. I also learned how to use
  HTML tags to define the structure of my webpage, such as headings, paragraphs,
  and lists. CSS, or Cascading Style Sheets, is the code that is used to style
  and design a website. I learned how to change the font, color, and layout of
  my webpage using CSS. I also learned how to use CSS selectors and classes to
  create specific styles for different elements on my webpage. During my grade
  11, I was able to create basic web pages and make them more visually appealing
  by adding my own design and layout with the help of HTML and CSS. I was also
  able to create simple interactive elements and navigation with the help of CSS
  and JavaScript. Learning HTML and CSS was an exciting journey for me and it
  opened up a whole new world of possibilities. It allowed me to express myself
  creatively and share my ideas with others. With the knowledge and skills I
  gained in grade 11, I am now able to create more complex and dynamic websites.
  I am excited to continue learning and expanding my skills in website
  development and potentially pursue it as a career.
</p>
