<body>
  <div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <img
            class="bd-placeholder-img img-thumbnail"
            width="100"
            height="100"
            src="https://i.pinimg.com/originals/2c/86/1d/2c861ddcd348e8f4dbc767ac94021c9a.png"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          />
        </div>

        <div class="col-4 text-center">
          <h1>SeaJay</h1>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="mx-3"
              role="img"
              viewBox="0 0 24 24"
            >
              <title>Search</title>
              <circle cx="10.5" cy="10.5" r="7.5"></circle>
              <path d="M21 21l-5.2-5.2"></path>
            </svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="#">Sports</a>
        <a class="p-2 link-secondary" href="#">Technology</a>
        <a class="p-2 link-secondary" href="#">Design</a>
        <a class="p-2 link-secondary" href="#">Toys</a>
        <a class="p-2 link-secondary" href="#">Car</a>
        <a class="p-2 link-secondary" href="#">Style</a>
      </nav>
    </div>
  </div>

  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">
          Hobby Haven: A Community for Passionate Enthusiasts
        </h1>
        <p class="lead my-3">
          A website where hobby enthusiasts can connect and share their
          passions.
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="
            row
            g-0
            border
            rounded
            overflow-hidden
            flex-md-row
            mb-4
            shadow-sm
            h-md-250
            position-relative
          "
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Toy Con</strong>
            <h3 class="mb-0">Inter National toy show</h3>
            <div class="mb-1 text-muted">Jun 2023</div>
            <p class="card-text mb-auto">
              This event is typically held in Tokyo, Japan and it's a great
              platform for industry professionals to network and make business
              deals. The show typically features a wide range of toys, including
              action figures, dolls, board games, and outdoor play equipment.
            </p>
            <a
              href="https://tokyocheapo.com/events/international-tokyo-toy-show/"
              class="stretched-link"
              >Continue reading</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="
            row
            g-0
            border
            rounded
            overflow-hidden
            flex-md-row
            mb-4
            shadow-sm
            h-md-250
            position-relative
          "
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success"
              >New Design!</strong
            >
            <h3 class="mb-0">MGTS0004 Design Change</h3>
            <div class="mb-1 text-muted">December 24</div>
            <p class="mb-auto">
              Due to technical reasons, we have updated the final design of the
              chains on the rear loading gate of LB Racing Transporter. The
              chains are replaced by metal wires and will be applied on final
              production.
            </p>
            <a
              href="http://minigt.com/news-detail.php?id=63"
              class="stretched-link"
              >Continue reading</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">Feeds!</h3>

        <article class="blog-post">
          <p class="blog-post-title mb-1"><app-education></app-education></p>
          <p class="blog-post-meta">January 27, 2023 by CJ</p>
          <hr />

          <app-skills></app-skills>

          <hr />
          <app-achievements></app-achievements>
        </article>

        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
          <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        </nav>
      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <app-about></app-about>
          </div>

          <div class="p-4">
            <p class="fst-italic"><app-reference></app-reference></p>
            <ol class="list-unstyled mb-0"></ol>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="blog-footer">
    <p>
      <a href="https://angular-ivy-f3myqe.stackblitz.io" allign center
        >Back to top</a
      >
    </p>
  </footer>
</body>
